{% extends 'tracker/base.html' %}

{% block content %}
<div class="auth-page">
  <div class="auth-box">
    <div class="auth-header">
      <p class="section-label">Welcome </p>
    </div>
  </div>

</div>
<h1 class="mb-4">Login</h1>
<form method="POST" class="w-50">
  {% csrf_token %}
  {%if form.errors%}
    <div class="alert alert-danger">Invalid username or password.</div>
  {% endif %}
  {{form.as_p}}
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<a href="/register/" class="mt-3 d-block">Don't have an account? Register</a>
{% endblock %}