{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fined</title>
    <link rel="stylesheet" href="{% static 'tracker/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=DM+Mono:wght@300;400;500&family=DM+Sans:wght@300;400;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
      <a class="nav-brand" href="/dashboard/">Finance.</a>
      <div class="nav-links">
        <a href="/dashboard/" class="">Overview</a>
        <a href="/history/">History</a>
        {% if user.is_authenticated %}
          <a href="/logout/">Logout</a>
        {% endif %}
      </div>
    </nav>
    <div class="page-content">
      {% block content%}{% endblock %}
    </div>
  </body>
</html>