<!DOCTYPE html>
<html>
  <head>
    <title>{{ wallet.name }}</title>
  </head>
  <body>
    <h1>{{ wallet.name }} - {{ wallet.balance }}</h1>
    <a href="/dashboard/">Back to Dashboard</a>
    <a href="/wallet/{{ wallet.id }}/add-transaction/">Add Transaction</a>

    <h2>Transactions</h2>
    {% if trans %}
      {% for wallet in wallets %}
        <p>{{ wallet.name }} = {{ wallet.balance }}</p>
        <a href="/wallet/{{ wallet.id }}/add-transaction/">Add Transaction</a>
      {% endfor %}
      {% else %}
        <p>No wallets yet.</p>
      {% endif %}

      <a href="/wallet/add/">Add Wallet</a>
  </body>
</html>